.login-logo {
  padding: 20px 0;
  min-height: 200px;
  text-align: center;
}

.login-logo img {
  max-width: 150px;
}

.list {
  margin-bottom: 0;
}

:host {
  .profile-picture {
    margin: auto;
    width: 100px;
    max-width: 100px;
    height: 100px;
  }
}
