<ion-header>
  <ion-toolbar>
    <ion-title *ngIf="!isUpdate"
               class="ion-margin-top"
               size="large">Add New Transaction
    </ion-title>
    <ion-title *ngIf="isUpdate"
               class="ion-margin-top"
               size="large">Update Transaction
    </ion-title>
    <ion-title size="small">
      {{getSubTitle(data.repeat, data.type, data.interval)}}
    </ion-title>
    <ion-title class="ion-margin-bottom"
               size="small">{{data.startDate|date:'MMM-dd-yyyy'}} to {{data.endDate|date:'MMM-dd-yyyy'}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">

  <ng-container *ngIf="fireAuth.user | async as user;">
    <form #sampleForm="ngForm">
      <ion-list>

        <ion-item>
          <ion-label position="floating">Transaction Type</ion-label>
          <ion-select [(ngModel)]="data.type"
                      name="type"
                      placeholder="Select One"
                      required>
            <ion-select-option value="income">Income</ion-select-option>
            <ion-select-option value="expenses">Expenses</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Transaction Name</ion-label>
          <ion-input [(ngModel)]="data.label"
                     name="label"
                     required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Transaction Amount</ion-label>
          <ion-input [(ngModel)]="data.amount"
                     name="amount"
                     required
                     type="number"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Repeat</ion-label>
          <ion-select (ionChange)="resetInterval(intervalController)"
                      [(ngModel)]="data.repeat"
                      name="repeat"
                      placeholder="Select One"
                      required>
            <ion-select-option value="never">Never Repeat</ion-select-option>
            <ion-select-option value="daily">Daily</ion-select-option>
            <ion-select-option value="weekly">Weekly</ion-select-option>
            <ion-select-option value="monthly">Monthly</ion-select-option>
            <ion-select-option value="yearly">Yearly</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item [hidden]="sampleForm.value.repeat === 'never'"
                  class="d-inline-block w-50"
                  style="border-top: none !important">
          <ion-label class="d-none"
                     position="floating">Interval
          </ion-label>
          <ion-select #intervalController
                      [(ngModel)]="data.interval"
                      [disabled]="sampleForm.value.repeat === 'never'"
                      name="interval"
                      placeholder="Select Interval"
                      required>
            <ion-select-option *ngFor="let option of getIntervalOptions(sampleForm.value.repeat)"
                               [value]="option.value">{{option.label}}</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label position="floating">
            {{(sampleForm.value.repeat === 'never') ? 'Transaction Due Date' : 'Transaction Start Date'}}
          </ion-label>
          <ion-datetime [(ngModel)]="data.startDate"
                        [min]="minDate"
                        [max]="maxDate"
                        displayFormat="MMM-DD-YYYY"
                        name="startDate"
                        placeholder="Select Date"
                        required></ion-datetime>
        </ion-item>

        <ion-item [hidden]="sampleForm.value.repeat === 'never'">
          <ion-label position="floating">
            Transaction End Date
          </ion-label>
          <ion-datetime [(ngModel)]="data.endDate"
                        [disabled]="sampleForm.value.repeat === 'never'"
                        [min]="minDate"
                        [max]="maxDate"
                        displayFormat="MMM-DD-YYYY"
                        name="endDate"
                        placeholder="Select Date"
                        required></ion-datetime>
        </ion-item>

        <ion-item>
          <ion-label>Is Tax Savings</ion-label>
          <ion-toggle [(ngModel)]="data.isTaxSavings"
                      name="isTaxSavings"></ion-toggle>
        </ion-item>


        <ion-item>
          <ion-label position="floating">Transaction Remarks</ion-label>
          <ion-textarea [(ngModel)]="data.remarks"
                        name="remarks"></ion-textarea>
        </ion-item>

        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-button (click)="saveData(sampleForm.value,user.providerData[0].uid)"
                          [disabled]="sampleForm.invalid"
                          class="ion-margin"
                          expand="block">Save
              </ion-button>
            </ion-col>
            <ion-col>
              <ion-button (click)="dismiss(data)"
                          class="ion-margin"
                          color="dark"
                          expand="block">Close
              </ion-button>
            </ion-col>
            <ion-col *ngIf="isUpdate">
              <ion-button (click)="deleteTransaction()"
                          class="ion-margin"
                          color="danger"
                          expand="block">Delete
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-list>
    </form>

  </ng-container>
</ion-content>
