<ion-header translucent="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title size="small">Monthly Money Manager</ion-title>
    <ion-title size="large">All Transactions</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content fullscreen="true">

  <ng-container *ngIf="breakUps$ | async as breakUps;">
    <ion-list>

      <ion-item-sliding #slidingItem
                        *ngFor="let breakUp of breakUps">
        <ion-item>
          <ion-label>
            <ion-label><strong>{{breakUp.label}} ({{breakUp.breakups.length}})</strong></ion-label>
            <p class="ion-no-margin">{{getTransactionSubTitle(breakUp.repeat, breakUp.type, breakUp.interval)}}</p>
            <p class="ion-no-margin ion-margin-bottom">{{breakUp.startDate|date:'MMM-dd-yyyy'}}
              to {{breakUp.endDate|date:'MMM-dd-yyyy'}}</p>
          </ion-label>
          <ion-label color="primary"
                     style="position: absolute;right: 15px;top: 5px;">
            <small>{{breakUp.repeat|lowercase}}&nbsp;</small>
            {{breakUp.amount|currency}}
          </ion-label>
          <ion-label color="primary"
                     style="position: absolute;right: 15px;bottom: 5px;">
            <small>total&nbsp;</small>
            {{breakUp.amount * breakUp.breakups.length|currency}}
          </ion-label>
          <!--<ion-label style="position: absolute;right: 15px;bottom: 15px;" color="primary">{{breakUp.breakups.length}}</ion-label>-->
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option (click)="presentAddNewTransaction(breakUp,true, slidingItem)"
                           color="danger">
            &nbsp; &nbsp; &nbsp; Edit &nbsp; &nbsp; &nbsp;
          </ion-item-option>
          <ion-item-option (click)="presentTransactionBreakups(breakUp,true, slidingItem)">Breakups</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>

    </ion-list>

    <ion-list-header [hidden]="breakUps.length > 0">
      {{transactionType == 'income' ? 'No Income details are found' : 'No Expenses details are found'}}
    </ion-list-header>

  </ng-container>

  <ion-fab horizontal="end"
           slot="fixed"
           vertical="bottom">
    <ion-fab-button (click)="presentAddNewTransaction(getNewTransactionDetails(),false, null)">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-segment (ionChange)="updateTransactionType()"
                 [(ngModel)]="transactionType">
      <ion-segment-button value="income">Income</ion-segment-button>
      <ion-segment-button value="expenses">Expenses</ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-footer>
